body {
    margin: 0;
    background-color: #1f2937;
    font-family: 'Courier New', Courier, monospace;
}
header {
    background-color: #1f2937;
    height: 494px;
}
.container1 {
    background-color: white;
    height: 500px;
    padding: 50px;
}
.nav {
    display: flex;
    justify-content: space-around;
}
.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}
.headerlink {
    display: flex;
    gap: 20px;
    align-items: center;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
li {
    list-style: none;
    font-size: 18px;
}
.placeholder {
    height: 250px;
    width: 500px;
    background-color: grey;
    margin-left: 40px;
}
.subheader {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.headerright {
    flex: 1;
}
.headerleft {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    width: 550px;
    margin-left: 170px;
    margin-right: 5px;
}
.para {
    color: grey;
    width: 550px;
    margin-left: 170px;
    margin-top: -35px;
}
.sign {
    width: 125px;
    height: 40px;
    margin-left: 170px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: none;
}
.random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
.box {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 20px;
    color: #3882f6;
    border-width: 3px;
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.subtext {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}
.box1 {
    width: 200px;
}
.container3 {
    height: 300px;
    background-color: #e5e7eb;
    padding: 50px;
    text-align: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.god {
    float: right;
}
.action {
    height: 200px;
    background-color: white;
    padding: 50px;
}
.action1 {
    background-color: #3882f6;
    border-radius: 20px;
    height: 175px;
    width: 1000px;
    display: block;
    margin: auto;
}
.action2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign {
    color: white;
    border-style: solid;
    width: 250px;
}